.join-header {
  margin: 10px;
}

form a {
  text-decoration: none;
}

.join-header img {
  width: 150px;
}

.form form {
  max-width: 440px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: 2px 1px 3px gray;
}

.form form input {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none;
  padding: 5px;
}

.form form button {
  padding: 5px;
  margin: 10px;
  border-radius: 9px;
  border: none;
  background-color: rgb(53, 65, 199);
  color: aliceblue;
}

.regis-links {
  display: flex;
  flex-direction: column;
}

.regis-links a {
  border: 2px solid gray;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  font-size: 20px;
  text-decoration: none;
}

.regis-links a:hover {
  background-color: rgb(154, 164, 173);
  color: rgb(180, 230, 255);
}
