.small-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(185, 187, 189);
  height: 70vh;
  margin-top: 10px;
  text-align: center;
  margin: 0;
  font-size: 1vw;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

.small-info img {
  width: 100%;
  height: 110px;
  object-fit: cover;
  margin-top: -25px;
  margin-bottom: -10px;
  border-radius: 5px;
}

.info {
  margin-top: -50px;
}

.info h5 {
  margin-top: 10px;
}

.info img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.left-content-container {
  border-radius: 5px;
}
